.App {
  min-height: 100vh;
  background: rgb(40, 40, 208);
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding-top: 200px;
}

.generator {
  background: rgb(40, 40, 208);
  padding: 30px;
  text-align: center;
}

.generator__header {
  text-align: center;
  color: #fff;
  margin-bottom: 50px;
  font-size: 40px;
}

.generator__password {
  /* position: relative; */
  background: rgba(0, 0, 0, 0.4);
  padding: 13px 10px;
  color: #fff;
  height: 46px;
  margin-bottom: 30px;
}

.copy__btn {
  /* position: absolute; */
  background: #166beb;
  color: #fff;
  border: none;
  /* border-radius: 10px; */

  /* height: 30px; */
  padding: 5px 8px;
  cursor: pointer;
  text-align: center;
  /* top: 3px;
  right: 3px; */
}

.generator__btn {
  background: #166beb;

  border: none;
  display: block;
  width: 60%;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 30px;
}
.wraperForm-group {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-bottom: 15px;
}

.range {
  width: 200px;
  margin-left: 10px;
}

.options {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-top: 3px;
}
